header {
  z-index: 99999;

  div {
    top: 0.5rem;
    right: 0;

    button:focus {
      color: orange;
      outline: none;
    }

    div {
      margin: auto;
      background-color: #00bcd4;
      border-radius: 2.5rem;

      span {
        padding-top: 0.7rem;
      }

      img {
        margin-top: 0.3rem;
        border-radius: 0.75rem;
      }
    }

    div:hover {
      color: #fff;
      background: #939393;
    }

    ul.dropdown {
      width: 10rem;
      /* Set width of the dropdown */
      color: black;

      background: white;
      text-align: left;
      padding: 0.5rem;
      display: none;
      position: absolute;
      z-index: 999;
      top: 3.3rem;
      right: 8rem;

      li {
        padding: 0.5rem;
      }

      li:hover {
        background-color: orange;
      }
    }

    div:hover ul.dropdown {
      display: block;
      /* Display the dropdown */
    }

    div:hover ul.dropdown:hover {
      display: block;

    }
  }
}
