<footer id="global-footer" class="footer">
  <div class="w-full py-20 px-64">
    <div class="flex mb-4">
      <div class="w-1/5 h-auto">
        <div class="title mb-4">認識Popmeet</div>
        <ul class="list-reset leading-normal">
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">關於Popmeet</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">Popmeet Blog</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">合作夥伴</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">加入Popmeet</li>
        </ul>
      </div>
      <div class="w-1/5 h-auto mt-0">
        <div class="title mb-4">Popmeet支援</div>
        <ul class="list-reset leading-normal">
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">常見問題</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">聯繫克服</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">新聞稿</li>
        </ul>

      </div>
      <div class="w-1/5 h-auto mt-0">
        <div class="title mb-4">網站條款</div>
        <ul class="list-reset leading-normal">
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">服務條款</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">隱私條款</li>
          <li class="text-gray-600 hover:text-black text-sm cursor-pointer mt-1">Cookie政策</li>
        </ul>

      </div>
      <div class="w-2/5 mt-0 h-auto text-right">
        <h2 class="font-black text-2xl text-gray-700">訂閱我們的電子報，獲取Popmeet最新消息</h2>
        <div class="email m-6 w-full flex bg-white">
          <input type="text"
            class="appearance-none bg-transparent border-none w-full h-16 text-gray-700 mr-3 py-3 mx-5 leading-tight focus:outline-none"
            placeholder="輸入您的Email">
          <button class="submit text-white m-2">訂閱</button>
        </div>
      </div>

    </div>
    <div class="w-full border-t-2 border-solid border-gray-400 flex">
      <span class="mt-10 ml-10 text-sm font-bold text-gray-700">&copy; 2020 Popmeet. All rights reserved.</span>
    </div>
  </div>
</footer>
