<div class=" mainRegion m-32">
  <div class="head flex w-1/2">
    <h1 class="font-black text-5xl text-gray-700">我的活動</h1>
    <button class="createBtn font-sans text-sm ml-8 mt-4 px-5 py-2 font-bold h-10 text-center">創建活動</button>
  </div>
  <div class="body my-10 w-full block">

  </div>

</div>
