.privacy {
  border-radius: 2rem;
  width: 8rem;
  background-color: #FF5722;
}

.typeChoose {
  border-radius: 2rem;
  background-color: #00bcd4;
}

.joinBtn {
  width: 6.25rem;
  border-color: #FF5722;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: #FF5722;
}

.joinBtn:hover {
  background-color: #FF5722;
  color: white;
}

.followBtn {
  width: 6.25rem;
  border-color: #00bcd4;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: #00bcd4;
}

.followBtn:hover {
  background-color: #00bcd4;
  color: white;
}

.shareBtn {
  border-color: #666666;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
}

.disabled {
  width: 6.25rem;
  cursor: default;
  background-color: #777777;
  border-color: #777777;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.formInput {
  border-radius: 2rem;

  input::placeholder {
    color: #828282;
  }
}

.description {
  textarea::placeholder {
    color: #828282;
  }
}
