<div class="mainRegion m-32">
  <div class="head flex w-1/2">
    <h1 class="font-black text-5xl text-gray-700">創建活動</h1>
    <button class="privacy text-white ml-8 m-3">公開</button>
  </div>
  <div class="body my-10 w-full block">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <div class="w-full block" formControlName="type">
        <label for="type" class="text-3xl font-medium text-gray-600">活動類型</label><br />
        <button id="type" class="typeChoose text-white mt-3 py-2 px-5 text-lg">選擇活動類型</button>
      </div>
      <div class="form w-full flex">
        <div class="w-1/2 mt-5 block pr-16">
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">活動名稱</label>
            <div class="formInput mt-3 mr-10 w-full flex bg-gray-200" id="name">
              <input type="text"
                class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                placeholder="活動名稱" formControlName="name">
            </div>
          </div>
          <div class="column mt-5">
            <label for="time" class="text-3xl font-medium text-gray-600">活動時間</label>
            <div class="block w-full">
              <div class="flex w-full" id="time" formControlName="startTime">
                <div class="formInput mt-3 mr-1 w-1/3 flex bg-gray-200">
                  <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                    class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                    placeholder="開始日期">
                </div>
                <div class="formInput mt-3 mr-10 w-1/4 flex bg-gray-200">
                  <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                    class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                    placeholder="開始時間">
                </div>
              </div>
              <div class="flex w-full" formControlName="endTime">
                <div class="formInput mt-3 mr-1 w-1/3 flex bg-gray-200">
                  <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                    class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                    placeholder="結束日期">
                </div>
                <div class="formInput mt-3 mr-10 w-1/4 flex bg-gray-200">
                  <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                    class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                    placeholder="結束時間">
                </div>
              </div>
            </div>
          </div>
          <div class="column mt-5 ">
            <label for="count" class="text-3xl font-medium text-gray-600">活動人數</label>
            <div class="flex">
              <div class="formInput mt-3 mr-10 w-1/5 flex bg-gray-200" id="count">
                <input type="number"
                  class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                  placeholder="活動名稱" formControlName="count">
              </div>
              <input type="radio" id="noLimit" class="h-8 mt-4 text-gray-800 text-center">
              <label for="noLimit" value="limit" class="h-8 mt-5 text-gray-800 mx-3">這個活動沒有人數上限</label>
            </div>
          </div>
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">活動簡介</label>
            <div class="description rounded-lg mt-3 mr-10 w-full flex bg-gray-200" id="name">
              <textarea class="appearance-none bg-transparent border-none w-full text-gray-900 mx-5 pt-3
                  leading-tight focus:outline-none" placeholder="活動名稱" rows="10"
                formControlName="description"></textarea>
            </div>
          </div>
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">活動照片</label>
            <div class="description rounded-lg mt-3 mr-10 w-1/3 flex bg-gray-200" id="name">
              <input type="file"
                class="appearance-none bg-transparent border-none w-full h-32 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                placeholder="活動名稱">
            </div>
          </div>
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">想問參加者的問題（非必須，最多三個）</label>
            <div class="block" formControlName="questions">
              <div class="mt-3">
                <label for="name" class="text-2xl font-medium text-gray-700">問題一</label>
                <div class="flex">
                  <div class="formInput mt-3 mr-3 w-5/6 flex bg-gray-200" id="count">
                    <input type="number"
                      class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                      placeholder="問題內容">
                  </div>
                  <input type="radio" id="noLimit" class="h-8 mt-4 text-gray-800 text-center">
                  <label for="noLimit" value="limit" class="h-8 mt-5 text-gray-800 mx-3">本題必填</label>
                </div>
              </div>
              <div class="mt-3">
                <label for="name" class="text-2xl font-medium text-gray-700">問題二</label>
                <div class="flex">
                  <div class="formInput mt-3 mr-3 w-5/6 flex bg-gray-200" id="count">
                    <input type="number"
                      class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                      placeholder="問題內容">
                  </div>
                  <input type="radio" id="noLimit" class="h-8 mt-4 text-gray-800 text-center">
                  <label for="noLimit" value="limit" class="h-8 mt-5 text-gray-800 mx-3">本題必填</label>
                </div>
              </div>
              <div class="mt-3">
                <label for="name" class="text-2xl font-medium text-gray-700">問題三</label>
                <div class="flex">
                  <div class="formInput mt-3 mr-3 w-5/6 flex bg-gray-200" id="count">
                    <input type="number"
                      class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                      placeholder="問題內容">
                  </div>
                  <input type="radio" id="noLimit" class="h-8 mt-4 text-gray-800 text-center">
                  <label for="noLimit" value="limit" class="h-8 mt-5 text-gray-800 mx-3">本題必填</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" w-1/2 mt-5 block pr-16">
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">出發地點</label>
            <div class="formInput mt-3 mr-10 w-2/3 flex bg-gray-200" id="name">
              <input type="text"
                class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                placeholder="活動出發地點">
            </div>
          </div>
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">目的地</label>
            <div class="formInput mt-3 mr-10 w-2/3 flex bg-gray-200" id="name">
              <input type="text"
                class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                placeholder="活動目的地">
            </div>
          </div>
          <div class="column mt-5">
            <label for="name" class="text-3xl font-medium text-gray-600">預估費用</label>
            <div class="formInput mt-3 mr-10 w-2/3 flex bg-gray-200" id="name">
              <input type="text"
                class="appearance-none bg-transparent border-none w-full h-10 text-gray-900 py-3 mx-5 leading-tight focus:outline-none"
                placeholder="活動預估費用">
            </div>
          </div>
        </div>
      </div>
      <div class="flex mt-16 content-center">
        <div class="w-2/5"></div>
        <div class="w-1/5 flex content-center">
          <button class="disabled font-sans text-sm mx-2 my-3 font-bold h-10 text-center block" disabled>建立</button>
          <button class="joinBtn font-sans text-sm mx-2 my-3 font-bold h-10 text-center block">取消建立</button>
        </div>
        <div class="w-2/5"></div>
      </div>
    </form>
  </div>

</div>
